<!DOCTYPE html>
<html>
<head>
    <center>
    <title>Lamp Filament Power Calculator</title>
</head>
<body>
   <style>
    body {
        background-color: lightblue;
    }
    </style>
    <h1>Lamp Filament Power Calculator</h1>
    <div style="background-color: white; padding: 20px; border-radius: 10px; width: 300px;">
    <form method="post">
        {% csrf_token %}
        <label>Intensity (I in Amperes):</label>
        <input type="text" name="intensity" required><br><br>

        <label>Resistance (R in Ohms):</label>
        <input type="text" name="resistance" required><br><br>

        <button type="submit">Calculate Power</button>
    </form>

    {% if power != None %}
        <h2>Power (P) = {{ power }}</h2>
    {% endif %}
    </div>
</center>
</body>
</html>